<!DOCTYPE html>
<html>
    <head>
        <script src="../js/Libraries/angular.min.js"></script>
        <script src="../js/Application/ChangeEvents.js"></script>
    </head>
    <body ng-app="changeEvents" ng-controller="chageController">

        Enter Some Text
        <input type="text" ng-model="tfld" ng-change="tfChange()">
        <br> Check 1
        <input type="checkbox" ng-model="Chk1" ng-change="checkBoxChanged()">
        <br> Check 2
        <input type="checkbox" ng-model="Chk2" ng-change="checkBoxChanged()">
        <br>

        Checkbox1 = {{Checkbox1}}
        <br>
        Checkbox2 = {{Checkbox2}}
    </body>
</html>
